<% if flash[:info] %>
  <%= flash[:info] %>
<% end %>
<h1>o-zon</h1>
<h2>商品一覧</h2>
<% @products.each do |e| %>
<p>
  <%= form_tag cart_items_path,method: :post do %>
  商品名：<%= e.name %>
  価格：<%= e.price %>
  <%= hidden_field_tag :product_id,e.id %>
  数量：<%= select_tag(:qty,options_for_select((1..30))) %>
  <%= submit_tag 'カートへ追加'%>
  <%= link_to 'この商品をカートから削除', cart_item_path(e), method: :delete %>
  <% end %>
  <hr>
</p>
<% end %>
<p><%= link_to 'カート', cart_path(current_cart.id) %></p>

<p><%= link_to '商品登録', products_path %></p>