<% sum = 0 %>
<% @cartitems.each do |c| %>
<p>
    <% p = @products.find_by(id: c.product_id) %>
    名前：<%= p.name %>
    価格：<%= p.price %>
    量：<%= c.qty %>
    <% sum += p.price * c.qty%>
</p>
<% end %>
<p>合計金額：<%= sum %>円</p>
<p><%= link_to '戻る', :back %>

