<% if flash[:info] %>
<%= flash[:info] %>
<% end %>

<% @products.each do |e| %>
<p>
  商品名：<%= e.name %>
  価格：<%= e.price %>
  <%= link_to '削除', product_path(e), method: :delete %>
</p>
<% end %>

<p><%= link_to '商品登録', new_product_path %></p>

<p><%= link_to '戻る', top_main_path %></p>
