<%= form_for @product, url: {action: :create} do |f| %>
<p>
  <%= f.label :name, '商品名' %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :price, '値段' %>
  <%= f.text_field :price %>
</p>
<p>
  <%= f.submit '登録' %>
</p>
<% end %>

<p><%= link_to '戻る', :back %>